<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Library Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:classappend="${@route.isActive('/books') ? 'active' : ''}"
                       th:href="@{/books}">Books</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:classappend="${@route.isActive('/users') ? 'active' : ''}"
                       th:href="@{/users}">Users</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:classappend="${@route.isActive('/borrowings') ? 'active' : ''}"
                       th:href="@{/borrowings}">Borrowings</a>
                </li>
            </ul>
        </div>
        <div sec:authorize="isAuthenticated()">
            <span sec:authentication="name"></span> |
            <a th:href="@{/logout}">Logout</a>
        </div>
        <div sec:authorize="isAnonymous()">
            <a th:href="@{/auth/login}" class="btn btn-outline-primary">Login</a>
        </div>
    </div>
</nav>
</body>
</html>